.container.hide#components
	.page-header
		h3
			a#back-centers-components(href="javascript:;") Mis centros
			span  / 
			a#back-systems-components(href="javascript:;")
			span#system-now 

			button#button-new-component.btn.btn-primary.pull-right
				i.icon-plus.icon-white
				span  Agregar componente

	table#table-components.table.table-bordered
		thead
			tr
				th Nombre
				th Modelo
				th Vendedor
				th Nº de nodos
				th Procesador
				th Acciones
		tbody#tbody-components
