.container.hide#components
  .page-header
    h3
      a(href="javascript:;") Mis centros
      span  / 
      a#system-center-now(href="javascript:;")
      span#system-now 

      button#button-new-component.btn.btn-primary.pull-right
        i.icon-plus.icon-white
        span  Agregar componente

  table.table.table-bordered
    thead
      tr
        th Centro
        th Pais
        th Organización
        th Segmento
        th Equipos
        th Acciones
    tbody
      tr
        td
          a(href="javascript:;") Lidic
        td Argentina
        td Universidad Nacional de San Luis
        td Educativo
        td
          span.badge.badge-info 3
        td
          .btn-group
            button.btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
              span.caret
            ul.dropdown-menu
              li
                a(href="#")
                  i.icon-pencil
                  span  Editar
              li
                a(href="#")
                  i.icon-remove
                  span  Eliminar
