.container.hide#components
	.page-header
		h3
			a(href="javascript:;") Mis centros
			span  / 
			a#system-center-now(href="javascript:;")
			span#system-now 

			button#button-new-component.btn.btn-primary.pull-right
			i.icon-plus.icon-white
			span  Agregar componente

	table.table.table-bordered
		thead
			tr
				th Nombre
				th Modelo
				th Vendedor
				th Nº de nodos
				th Procesador
				th Acciones
		tbody
