#modal-form-center.modal.fade.hide
	.modal-header
		button.close(data-dismiss="modal") x
		h3 Crear centro
	.modal-body
		form#form-center.form-horizontal(method="POST", action="/api/submissions/centers")
			fieldset
				.control-group#ctrl-center-name
					label.control-label(for="name") Nombre
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese el nombre del centro", name="name")
				.control-group#ctrl-center-acronym
					label.control-label(for="acronym") Siglas
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese las siglas del centro", name="acronym")
				.control-group#ctrl-center-segment
					label.control-label(for="segment") Segmento
					.controls
						select.input-xlarge(name="segment")
							option(value="Académico") Académico
							option(value="Investigación") Investigación
							option(value="Gubernamental") Gubernamental
							option(value="Industrial") Industrial
							option(value="Otro") Otro
				.control-group#ctrl-center-country
					label.control-label(for="contry") Pais
					.controls
						select.input-xlarge(name="country")
							option Argentina
							option Bolivia
							option Brasil
							option Chile
							option Colombia
							option Costa Rica
							option Cuba
							option Ecuador
							option El Salvador
							option Guatemala
							option Honduras
							option México
							option Nicaragua
							option Panamá
							option Paraguay
							option Perú
							option Puerto Rico
							option República Dominicana
							option Uruguay
							option Venezuela
				.control-group#ctrl-center-city
					label.control-label(for="city") Ciudad
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese la ciudad del centro", name="city")
				.control-group#ctrl-center-url
					label.control-label(for="url") Sitio web
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese el sitio web del centro", name="url")
				.control-group#ctrl-center-description
					label.control-label(for="description") Descripción
					.controls
						textarea.input-xlarge(placeholder="Ingrese una breve descripción del centro", name="description", rows="4")
	.modal-footer
		button#button-save-center.btn.btn-primary.save(data-loading-text="Creando ...", autocomplete="off") Crear
