#modal-form-system.modal.fade.hide
	.modal-header
		button.close(data-dismiss="modal") x
		h3 Registrar equipo
	.modal-body
		form#form-system.form-horizontal(method="POST", action="/api/submissions/systems")
			fieldset
				input#input-center.hide(type="text", name="center")
				.control-group#ctrl-system-name
					label.control-label(for="name") Nombre
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese el nombre del equipo", name="name")
				.control-group#ctrl-system-status
					label.control-label(for="status") Estado
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese el estado del equipo", name="status")
				.control-group#ctrl-system-area
					label.control-label(for="area") Area de aplicación
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese el area de aplicación del equipo", name="area")
				.control-group#ctrl-system-description
					label.control-label(for="description") Descripción
					.controls
						textarea.input-xlarge(placeholder="Ingrese una breve descripción del equipo", name="description", rows="4")
				.control-group#ctrl-system-vendor
					label.control-label(for="vendor") Vendedor
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese el vendedor del equipo", name="vendor")
				.control-group#ctrl-system-instalation
					label.control-label(for="instalation") Año de instalación
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese el año de instalación del equipo", name="installation")
	.modal-footer
		button#button-save-system.btn.btn-primary.save(data-loading-text="Registrando ...", autocomplete="off") Registrar
