#modal-form-component.modal.fade.hide
	.modal-header
		button.close(data-dismiss="modal") x
		h3 Agregar Componente
	.modal-body
		form#form-component.form-horizontal(method="POST", action="/api/submissions/components/")
			fieldset
				input#input-system.hide(type="text", name="system")
				// COMPONENTE
				legend Componente
				.control-group#ctrl-component-name
					label.control-label(for="name") Nombre
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese el nombre del componente", name="name")
				.control-group#ctrl-component-model
					label.control-label(for="model") Modelo
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese el modelo del componente", name="model")
				.control-group#ctrl-component-vendor
					label.control-label(for="vendor") Vendedor
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese el vendedor del componente", name="vendor")
				.control-group#ctrl-component-nodes
					label.control-label(for="nodes") Número de nodos
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese el número de nodos del componente", name="nodes")

				// PROCESADOR
				legend Procesador
				.control-group#ctrl-component-processor_name
					label.control-label(for="processor_name") Nombre
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese el nombre del procesador", name="processor_name")
				.control-group#ctrl-component-processor_model
					label.control-label(for="processor_model") Modelo
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese el modelo del procesador", name="processor_model")
				.control-group#ctrl-component-processor_socket
					label.control-label(for="processor_socket") Cantidad de sockets
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese el cantidad de sockets del procesador", name="processor_socket")
				.control-group#ctrl-component-processor_cores
					label.control-label(for="processor_cores") Número de cores
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese el número de cores del procesador", name="processor_cores")
				.control-group#ctrl-component-processor_speed
					label.control-label(for="processor_speed") Velocidad (en Ghz)
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese la velocidad del procesador", name="processor_speed")

				// ACELARADOR
				legend Acelerador
				.control-group#ctrl-component-accelerator_name
					label.control-label(for="accelerator_name") Nombre
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese el nombre del acelerador", name="accelerator_name")
				.control-group#ctrl-component-accelerator_model
					label.control-label(for="accelerator_model") Modelo
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese el modelo del acelerador", name="accelerator_model")
				.control-group#ctrl-component-accelerator_number
					label.control-label(for="accelerator_number") Cantidad (por nodo)
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese el número de aceleradores por nodo", name="accelerator_number")
				.control-group#ctrl-component-accelerator_cores
					label.control-label(for="accelerator_cores") Número cores
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese el número de cores del acelerador", name="accelerator_cores")
				.control-group#ctrl-component-accelerator_speed
					label.control-label(for="accelerator_speed") Velocidad (Ghz)
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese la velocidad del acelerador", name="accelerator_speed")

				// POWER
				legend Energía
				.control-group#ctrl-component-peak_power
					label.control-label(for="peak_power") Potencia pico (kW)
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese la potencia pico del nodo", name="peak_power")
				.control-group#ctrl-component-measured_power
					label.control-label(for="measured_power") Potencia media (kW)
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese la potencia media del nodo", name="measured_power")

				// CONFIG
				legend Configuración
				.control-group#ctrl-component-operating_system
					label.control-label(for="operating_system") Sistema operativo
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese el sistema operativo del components", name="operating_system")
				.control-group#ctrl-component-interconection
					label.control-label(for="interconection") Interconexión
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese la interconexión del componente", name="interconection")
				.control-group#ctrl-component-memory_node
					label.control-label(for="memory_node") Memoria (en GB)
					.controls
						input.input-xlarge(type="text", placeholder="Ingrese la memoria del componente", name="memory_node")

	.modal-footer
		button#button-save-component.btn.btn-primary.save(data-loading-text="Agregando ...", autocomplete="off") Agregar
