#modal-form-center.modal.fade.hide
  .modal-header
    button.close(data-dismiss='modal') x
    h3 Crear centro
  .modal-body
    form#form-center.form-horizontal(method='POST', action='/api/submissions/centers')
      fieldset

        .control-group
          label.control-label(for='name') Nombre
          .controls
            input(type='text', placeholder='Ingrese el nombre del centro', name='name')

        .control-group
          label.control-label(for='acronym') Siglas
          .controls
            input(type='text', placeholder='Ingrese las siglas del centro', name='acronym')

        .control-group
          label.control-label(for='segment') Segmento
          .controls
            select(name='segment')
              option(value="Académico") Académico
              option(value="Investigación") Investigación
              option(value="Gubernamental") Gubernamental
              option(value="Industrial") Industrial
              option(value="Otro") Otro

        .control-group
          label.control-label(for='contry') Pais
          .controls
            select(name='country')
              option Argentina
              option Bolivia
              option Brasil
              option Chile
              option Colombia
              option Costa Rica
              option Cuba
              option Ecuador
              option El Salvador
              option Guatemala
              option Honduras
              option México
              option Nicaragua
              option Panamá
              option Paraguay
              option Perú
              option Puerto Rico
              option República Dominicana
              option Uruguay
              option Venezuela

        .control-group
          label.control-label(for='city') Ciudad
          .controls
            input(type='text', placeholder='Ingrese la ciudad del centro', name='city')

        .control-group
          label.control-label(for='url') Sitio web
          .controls
            input(type='text', placeholder='Ingrese el sitio web del centro', name='url')

        .control-group
          label.control-label(for='description') Descripción
          .controls
            textarea(placeholder='Ingrse una breve descripción del centro', name='description', rows="4")

   .modal-footer
     button#button-save-center.btn.btn-primary.save(data-loading-text="Creando ...", autocomplete="off") Crear
