#modal-component.modal.fade.hide
	.modal-header
		h3#modal-component-title
	.modal-body
		// COMPONENTE
		p Nombre
		p Modelo
		p Vendedor
		p Número de nodos
		// PROCESADOR
		h3 Procesador
		p Nombre
		p Modelo
		p Socket
		p Número de Cores
		// ACELERADOR
		h3 Acelerador
		p Velocidad
		p Nombre
		p Modelos
		p Número
		p Número de cores
		p Velocidad
		h3 Otros
		p Sistema operativo
		p Interconexión
		p Cantidad de memoria
	.modal-footer
		button.btn.btn-primary(data-dismiss="modal") Cerrar
