.container.hide#systems
  .page-header
    h3
      a#back-centers(href="javascript:;") Mis centros
      span#system-now

      button#button-new-system.btn.btn-primary.pull-right
        i.icon-plus.icon-white
        span  Registrar equipo

  table#table-systems.table.table-bordered
    thead
      tr
        th Equipo
        th Estado
        th Area
        th Vendedor
        th Instalación
        th Acciones
    tbody#tbody-systems
      tr
        td
          a(href="javascript:;") Equipo 1
        td
          span.badge.badge-success Producción
        td Inteligencia artificial
        td Intel
        td 26/07/1999
        td
          .btn-group
            button.btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
              span.caret
            ul.dropdown-menu
              li
                a(href="#")
                  i.icon-pencil
                  span  Editar
              li
                a(href="#")
                  i.icon-remove
                  span  Eliminar
