.container.hide#systems
	.page-header
		h3
			a#back-centers-systems(href="javascript:;") Mis centros
			span#center-now

			button#button-new-system.btn.btn-primary.pull-right
				i.icon-plus.icon-white
				span	Registrar equipo

	table#table-systems.table.table-bordered
		thead
			tr
				th Equipo
				th Estado
				th Area
				th Vendedor
				th Instalación
				th Acciones
		tbody#tbody-systems
