!!! 5
html(lang='es')
  head
    meta(charset='utf-8')
    title Lartop50 - Tus centros
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    style
      body {
        padding-top: 60px;
        /* background: #DDD; */
      }
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    // NAVBAR
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Lartop50
          //
            .nav-collapse
              ul.nav
                li.active
                  a(href='#') Home
                li
                  a(href='#about') About
                li
                  a(href='#contact') Contact

    .container#sites
      .page-header
        h3 Mis centros
          button#button-new-project.btn.btn-primary.pull-right
            i.icon-plus.icon-white
            span  Crear centro


      .alert.alert-info.code-200
        a.close(data-dismiss="alert", href="#") ×
        h4.alert-heading ¡¡ Bienvenido a Lartop50 !!
        p Ahora puede iniciar empezar a ingresar sus centros y participar, bla, bla.

      table.table.table-bordered
        thead
          tr
            th Centro
            th Pais
            th Organización
            th Segmento
            th Equipos
            th Acciones
        tbody

          tr
            td
              a(href="javascript:;") Lidic
            td Argentina
            td Universidad Nacional de San Luis
            td Educativo
            td
              span.badge.badge-info 3
            td
              .btn-group
                button.btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="#")
                      i.icon-pencil
                      span  Editar
                  li
                    a(href="#")
                      i.icon-remove
                      span  Eliminar

    .container#systems
      .page-header
        h3
          a(href="javascript:;") Mis centros
          span  / Lidic

          button#button-new-project.btn.btn-primary.pull-right
            i.icon-plus.icon-white
            span  Registrar equipo


      .alert.alert-info.code-200
        a.close(data-dismiss="alert", href="#") ×
        h4.alert-heading ¡¡ Bienvenido a Lartop50 !!
        p Ahora puede iniciar empezar a ingresar sus centros y participar, bla, bla.

      table.table.table-bordered
        thead
          tr
            th Centro
            th Pais
            th Organización
            th Segmento
            th Equipos
            th Acciones
        tbody

          tr
            td
              a(href="javascript:;") Lidic
            td Argentina
            td Universidad Nacional de San Luis
            td Educativo
            td
              span.badge.badge-info 3
            td
              .btn-group
                button.btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="#")
                      i.icon-pencil
                      span  Editar
                  li
                    a(href="#")
                      i.icon-remove
                      span  Eliminar

    .container#components
      .page-header
        h3
          a(href="javascript:;") Mis centros
          span  / 
          a(href="javascript:;") Lidic
          span  / Componente 1

          button#button-new-project.btn.btn-primary.pull-right
            i.icon-plus.icon-white
            span  Agregar componente


      .alert.alert-info.code-200
        a.close(data-dismiss="alert", href="#") ×
        h4.alert-heading ¡¡ Bienvenido a Lartop50 !!
        p Ahora puede iniciar empezar a ingresar sus centros y participar, bla, bla.

      table.table.table-bordered
        thead
          tr
            th Centro
            th Pais
            th Organización
            th Segmento
            th Equipos
            th Acciones
        tbody

          tr
            td
              a(href="javascript:;") Lidic
            td Argentina
            td Universidad Nacional de San Luis
            td Educativo
            td
              span.badge.badge-info 3
            td
              .btn-group
                button.btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="#")
                      i.icon-pencil
                      span  Editar
                  li
                    a(href="#")
                      i.icon-remove
                      span  Eliminar

    .container#linpack
      .page-header
        h3
          a(href="javascript:;") Mis centros
          span  / Lidic

          button#button-new-project.btn.btn-primary.pull-right
            i.icon-plus.icon-white
            span  Agregar Linpack

      .alert.alert-info.code-200
        a.close(data-dismiss="alert", href="#") ×
        h4.alert-heading ¡¡ Bienvenido a Lartop50 !!
        p Ahora puede iniciar empezar a ingresar sus centros y participar, bla, bla.

      table.table.table-bordered
        thead
          tr
            th Centro
            th Pais
            th Organización
            th Segmento
            th Equipos
            th Acciones
        tbody

          tr
            td
              a(href="javascript:;") Lidic
            td Argentina
            td Universidad Nacional de San Luis
            td Educativo
            td
              span.badge.badge-info 3
            td
              .btn-group
                button.btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="#")
                      i.icon-pencil
                      span  Editar
                  li
                    a(href="#")
                      i.icon-remove
                      span  Eliminar

      // MODAL SITES
      #modal-form-project.modal.fade.hide
        .modal-header
          button.close(data-dismiss='modal') x
          h3 Crear centro
        .modal-body
          form#form-project.form-horizontal(method='POST', action='/projects')
            fieldset
              .control-group
                label.control-label(for='name') Nombre
                .controls
                  input(type='text', placeholder='Ingrese el nombre del proyecto', name='name')
              .control-group
                label.control-label(for='acronym') Siglas
                .controls
                  input(type='text', placeholder='Ingrese las siglas del proyecto', name='acronym')
              .control-group
                label.control-label(for='segment') Segmento
                .controls
                  input(type='text', placeholder='Ingrese el segmento del proyecto', name='segment')
              .control-group
                label.control-label(for='description') Descripción
                .controls
                  textarea(placeholder='Ingrse una breve descripción del proyecto', name='description')
              .control-group
                label.control-label(for='url') Sitio web
                .controls
                  input(type='text', placeholder='Ingrese el sitio web del proyecto', name='url')
              .control-group
                label.control-label(for='contry') Pais
                .controls
                  select(name='country')
                    option 1
                    option 2
              .control-group
                label.control-label(for='state') Provincia
                .controls
                  select(name='state')
                    option 1
                    option 2
              .control-group
                label.control-label(for='city') Ciudad
                .controls
                  select(name='city')
                    option 1
                    option 2
        .modal-footer
          button#button-save-project.btn.btn-primary.save Crear

      // MODAL CLUSTER 

      button#button-new-cluster.btn.btn-primary.hide Crear Cluster

      #modal-form-cluster.modal.fade(style='display: none;')
        .modal-header
          button.close(data-dismiss='modal') x
          h3 Crear Cluster
        .modal-body
          form#form-cluster.form-horizontal(method='POST', action='/clusters')
            fieldset
              input(type='text', name='project', style='display: none;')
              .control-group
                label.control-label(for='name') Nombre
                .controls
                  input(type='text', placeholder='Ingrese el nombre del cluster', name='name')
              .control-group
                label.control-label(for='status') Estado
                .controls
                  input(type='text', placeholder='Ingrese el estado del cluster', name='status')
              .control-group
                label.control-label(for='area') Area
                .controls
                  input(type='text', placeholder='Ingrese el area del cluster', name='area')
              .control-group
                label.control-label(for='description') Descripción
                .controls
                  textarea(placeholder='Ingrese una breve descripción', name='description')
              .control-group
                label.control-label(for='description') Vendedor
                .controls
                  input(type='text', placeholder='Ingrese el nombre del vendedor', name='vendor')
              .control-group
                label.control-label(for='description') Fecha de inicio
                .controls
                  input(type='text', placeholder='Ingrese la fecha de inicio del cluster', name='initiation')
        .modal-footer
          button#button-save-cluster.btn.btn-primary.save Crear

    // MODAL COMPONENT 

    button#button-new-component.btn.btn-primary.hide Agregar Componente
    include modal-form-component

    // MODAL LINPACKS 

    button#button-new-linpack.btn.btn-primary.hide Ingresar Linpack
    include modal-form-linpack

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/forms.js')
