!!! 5
html(lang='es')
  head
    meta(charset='utf-8')
    title Lartop50 - Tus centros
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    style
      body {
        background-image:url(/images/bg_body.jpg);
        background-repeat:repeat;
      }
      #panel {
        background: #FFF;
        padding: 60px 45px;
      }
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    // NAVBAR
    .navbar.navbar-fixed-top
      .navbar-inner(style='background: url("/images/bg_nav.jpg") repeat scroll 0 0 transparent; border-bottom: 1px solid #000000;box-shadow: 0 0 5px #000000;')
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Lartop50
          //
            .nav-collapse
              ul.nav
                li.active
                  a(href='#') Home
                li
                  a(href='#about') About
                li
                  a(href='#contact') Contact

    #panel.container
      include includes/sites
      include includes/systems
      include includes/components
      include includes/linpack


    #modals

      // MODAL CLUSTER 
      include includes/modal-new-cluster
      button#button-new-cluster.btn.btn-primary.hide Crear Cluster

      // MODAL SITES
      include includes/modal-form-project

      // MODAL COMPONENT 
      button#button-new-component.btn.btn-primary.hide Agregar Componente
      include includes/modal-form-component

      // MODAL LINPACKS 
      button#button-new-linpack.btn.btn-primary.hide Ingresar Linpack
      include includes/modal-form-linpack

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/forms.js')
