!!! 5
html(lang='es')
  head
    meta(charset='utf-8')
    title Lartop50 - Ingreso
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/login.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Electrolize', rel='stylesheet', type='text/css')
    style
      body {
        background-image:url(/images/bg_body.jpg);
        background-repeat:repeat;
      }
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner(style='background: url("/images/bg_nav.jpg") repeat scroll 0 0 transparent; border-bottom: 1px solid #000000;box-shadow: 0 0 5px #000000;')
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/', style="color:#EEE")
            img(src="/images/logo-nav.png")
            span Lartop
            span(style="color: #FDCA01") 50

    .container
      .row(style="margin-top:100px")
        // .span7(style="height:300px;") REVIEW !!
        .span6.offset3
          #login.well
            .page-header
              h3 Iniciar sesión
            // ALERT SUCCESS ACTIVATE (CODE 200)
            .alert.alert-success.code-200.hide
              a.close(data-dismiss="alert", href="#") ×
              h4.alert-heading ¡¡ Su cuenta fué activada !!
              p Ahora puede iniciar sesión con los datos que usted ingresó en la registración.
            // ALERT ERROR (CODE 400)
            .alert.alert-error.code-400.hide
              a.close(data-dismiss="alert", href="#") ×
              h4.alert-heading Los datos ingresados son incorrectos
              p Por favor verifique los campos resaltados.
            // FORM LOGIN
            form#form-login(method='POST', action='/api/auth/login')
              .control-group#ctrl-login-email
                input.input-xlarge(type="text", name="email", placeholder="Correo electrónico")
              .control-group#ctrl-login-password
                input.input-xlarge(type="password", name="password", placeholder="Contraseña")
              button.btn.btn-primary.btn-large.input-xlarge(type="submit", data-loading-text="Iniciando sesión ...", autocomplete="off") Iniciar sesión
            p.opens
              a(href="javascript:;", style="margin-right: 10px", now="#login").open-register Registrarse
              |
              a(href="javascript:;", style="margin-left: 10px", now="#login").open-activate Activar cuenta

          #register.well.hide
            .page-header
              h3 Registrarse
            // ALERT ERROR (CODE 400)
            .alert.alert-error.code-400.hide
              a.close(data-dismiss="alert", href="#") ×
              h4.alert-heading Los datos ingresados son incorrectos
              p Por favor verifique los campos resaltados.
            // FORM REGISTER
            form#form-register(method='POST', action='/api/auth/register')
              .control-group#ctrl-register-name
                input.input-xlarge(type="text", name="name", placeholder="Nombre completo")
              .control-group#ctrl-register-organization
                input.input-xlarge(type="text", name="organization", placeholder="Organización")
              .control-group#ctrl-register-email
                input.input-xlarge(type="text", name="email", placeholder="Correo electrónico")
              .control-group#ctrl-register-password
                input.input-xlarge(type="password", name="password", placeholder="Contraseña")

              // RECAPTCHA
              center
                != recaptcha_form

              button.btn.btn-success.btn-large.input-xlarge(type="submit", data-loading-text="Registrandote ...", autocomplete="off") Registrarse
            p.opens
              a(href="javascript:;", style="margin-right: 10px", now="#register").open-login Iniciar sesión
              |
              a(href="javascript:;", style="margin-left: 10px", now="#register").open-activate Activar cuenta

          #activate.well.hide
            .page-header
              h3 Activar cuenta
            // ALERT ERROR (CODE 400)
            .alert.alert-error.code-400.hide
              a.close(data-dismiss="alert", href="#") ×
              h4.alert-heading El código ingresado es incorrecto
              p Por favor ingrese su código nuevamente.
            // ALERT REGISTER SUCCESS (CODE 200)
            .alert.alert-info.code-200.hide
              a.close(data-dismiss="alert", href="#") ×
              h4.alert-heading ¡¡ Muchas gracias por registrarse !!
              p Recibirá en su correo electrónico el código de activación de cuenta, cuando lo tenga, ingreselo a continuación:
            // FORM ACTIVATE
            form#form-activate(method='POST', action='/api/auth/activate')
              .control-group#ctrl-activate-key
                input.input-xlarge(type="text", name="key", placeholder="Código de activación")
              button.btn.btn-info.btn-large.input-xlarge(type="submit", data-loading-text="Activando cuenta ...", autocomplete="off") Activar cuenta
            p.opens
              a(href="javascript:;", style="margin-right: 10px", now="#activate").open-register Registrarse
              |
              a(href="javascript:;", style="margin-left: 10px", now="#activate").open-login Iniciar sesión


    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/login.js')
